<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INFOPLIST_KEY_SENTRY_DSN</key>
	<string>https://fb67b94950cc30fff47b2e75ad7b65c0@o4511228284764161.ingest.us.sentry.io/4511228286402560</string>
</dict>
</plist>
